In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer#to extract the features from text.(convert from text to numbers)
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
data = pd.read_excel(r"C:\Users\Gobinath\Desktop\tasks\Recommendation engine project\Nlp with images.xlsx")

In [25]:
data.head(22)

,Movie Title,Ratinng,genre,act,img
0,3 Idiots,8.4,"Comedy, Drama","Aamir Khan, Madhavan, Mona Singh, Sharman Josh...",https://m.media-amazon.com/images/M/MV5BMWYxZW...
1,Taare Zameen Par,8.3,"Drama, Family","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...",https://m.media-amazon.com/images/M/MV5BNTVmYT...
2,PK,8.1,"Comedy, Drama, Sci-Fi","Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...",https://m.media-amazon.com/images/M/MV5BMTYzOT...
3,Dangal,8.3,"Action, Biography, Drama","Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",https://m.media-amazon.com/images/M/MV5BOTkyYm...
4,Rang De Basanti,8.1,"Comedy, Crime, Drama","Aamir Khan, Soha Ali Khan, Siddharth, Sharman ...",https://m.media-amazon.com/images/M/MV5BYThmZD...
5,My Name Is Khan,7.9,"Drama, Romance","Shah Rukh Khan, Kajol, Sheetal Menon, Katie Am...",https://m.media-amazon.com/images/M/MV5BZGVmZW...
6,Gangs of Wasseypur,8.2,"Action, Comedy, Crime","Manoj Bajpayee, Richa Chadha, Nawazuddin Siddi...",https://m.media-amazon.com/images/M/MV5BZWFiOG...
7,Chak De! India,8.1,"Drama, Family, Sport","Shah Rukh Khan, Vidya Malvade, Sagarika Ghatge...",https://m.media-amazon.com/images/M/MV5BNzkzNT...
8,Munna Bhai M.B.B.S.,8.1,"Comedy, Drama","Sanjay Dutt, Arshad Warsi, Gracy Singh, Boman ...",https://m.media-amazon.com/images/M/MV5BMzJhMj...
9,Bajrangi Bhaijaan,8.1,"Action, Adventure, Comedy","Salman Khan, Harshaali Malhotra, Nawazuddin Si...",https://m.media-amazon.com/images/M/MV5BMTRiMj...
10,Dil Chahta Hai,8.1,"Comedy, Drama, Romance","Aamir Khan, Saif Ali Khan, Akshaye Khanna, Pre...",https://m.media-amazon.com/images/M/MV5BYzYwN2...
11,Zindagi Na Milegi Dobara,8.1,"Comedy, Drama, Musical","Hrithik Roshan, Farhan Akhtar, Abhay Deol, Kat...",https://m.media-amazon.com/images/M/MV5BNTRlZD...
12,Dilwale Dulhania Le Jayenge,8.0,"Drama, Romance","Shah Rukh Khan, Kajol, Amrish Puri, Farida Jal...",https://m.media-amazon.com/images/M/MV5BZTA3Yz...
13,Kal Ho Naa Ho,7.9,"Comedy, Drama, Musical","Preity Zinta, Shah Rukh Khan, Saif Ali Khan, J...",https://m.media-amazon.com/images/M/MV5BM2UzNW...
14,Gunday,2.6,"Action, Drama, Musical","Ranveer Singh, Arjun Kapoor, Priyanka Chopra J...",https://m.media-amazon.com/images/M/MV5BMjI2Nj...
15,Bhaag Milkha Bhaag,8.2,"Biography, Drama, Sport","Farhan Akhtar, Japtej Singh, Divya Dutta, Pawa...",https://m.media-amazon.com/images/M/MV5BMTY1Nz...
16,Kahaani,8.1,"Mystery, Thriller","Vidya Balan, Parambrata Chattopadhyay, Indrane...",https://m.media-amazon.com/images/M/MV5BMTQ1ND...
17,Andhadhun,8.2,"Comedy, Crime, Music","Ayushmann Khurrana, Tabu, Radhika Apte, Anil D...",https://m.media-amazon.com/images/M/MV5BZWZhMj...
18,Airlift,7.9,"Action, Drama, History","Akshay Kumar, Nimrat Kaur, Kumud Mishra, Praka...",https://m.media-amazon.com/images/M/MV5BMGE1ZT...
19,Sholay,7.2,Drama,"Ashok Kumar, Bina Rai, Purnima, Manmohan Krish...",https://m.media-amazon.com/images/M/MV5BMjc5OD...
20,Don 2,7.0,"Action, Crime, Thriller","Shah Rukh Khan, Florian Lukas, Om Puri, Priyan...",https://m.media-amazon.com/images/M/MV5BMzNiYW...
21,Haider,8.1,"Action, Crime, Drama","Shahid Kapoor, Tabu, Shraddha Kapoor, Kay Kay ...",https://m.media-amazon.com/images/M/MV5BMjA1NT...

In [16]:
data.isna().sum()

Movie Title    0
Ratinng        0
genre          0
act            0
img            0
dtype: int64

In [17]:
tfidf = TfidfVectorizer()

In [18]:
vectors = tfidf.fit_transform(data["genre"]) ##genre feature has been selected and vectorized..i.e converted to numbers.

In [19]:
vectors #Sparse matrix contain too many zeroes and values more than zero considered to be related to one another.

<811x22 sparse matrix of type '<class 'numpy.float64'>'
	with 1946 stored elements in Compressed Sparse Row format>

In [20]:
vectors[0].toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.83766858,
        0.        , 0.        , 0.54617887, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]])

In [21]:
to_find_movie_index = pd.Series(index=data["Movie Title"],data = data.index)

In [22]:
 to_find_movie_index #inverting the positions of movie name and the index of the movie to find out the index of the movie from the name.

Movie Title
3 Idiots               0
Taare Zameen Par       1
PK                     2
Dangal                 3
Rang De Basanti        4
                    ...
Parde Ke Peechey     806
Dhamkee              807
Chhoo Mantar         808
Ladki Sahyadri Ki    809
Madadgaar            810
Length: 811, dtype: int64

In [26]:
to_find_movie_index["Haider"]

21

In [31]:
vectors[21]

<1x22 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [33]:
distance = linear_kernel(vectors[21],vectors)# using linear kernel metric calculating entire distance from the particular row.

In [43]:
final_list = pd.DataFrame(data = distance).T #Traversing the entire dataframe to get in the form of rows.

In [44]:
final_list.head()

          0
0  0.204622
1  0.121288
2  0.058271
3  0.336797
4  0.667533

In [45]:
final_list.columns=["Scores"]

In [46]:
final_list

       Scores
0    0.204622
1    0.121288
2    0.058271
3    0.336797
4    0.667533
..        ...
806  0.577607
807  0.409499
808  0.000000
809  0.130236
810  0.191254

[811 rows x 1 columns]

In [47]:
final_list.sort_values(by='Scores',ascending=False)

     Scores
405     1.0
231     1.0
209     1.0
603     1.0
192     1.0
..      ...
702     0.0
254     0.0
704     0.0
409     0.0
521     0.0

[811 rows x 1 columns]

In [49]:
data[data.index==209]

,Movie Title,Ratinng,genre,act,img
209,Singham Returns,5.7,"Action, Crime, Drama","Ajay Devgn, Kareena Kapoor, Amole Gupte, Anupa...",https://m.media-amazon.com/images/M/MV5BOTkwND...